body {
	background-color: rgb(230, 0, 0);
	color: white;
}
.navbar {
	background-color: rgb(207, 0, 0);
}
.navbar, .navbar-inverse .navbar-toggle {
	border-color: rgb(255, 133, 0);
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: rgb(255, 133, 0);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: rgb(255, 173, 0);
}