body {
	background-color: rgb(153, 204, 255);
	color: white;
}
.navbar {
	border:none;
}
.navbar, .navbar-inverse .navbar-toggle {
	border-color: rgb(51, 102, 255);
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: rgb(51, 102, 255);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: rgb(153, 204, 255);
}
.navbar-header {
	background-color: rgb(102, 153, 255);
	border-bottom: 1px solid;
	border-color: rgb(51, 102, 255);
}
#navbar {
	background-color: rgb(102, 153, 255);
}


